body.replication-app{
  .app-container{
    display: none;
  }
  #replication-app-container{
    display: block;
  }
}

.replication-model-edit-view{
  &.push-replication{
    .push-replication-content{
      display: block;
    }
    .pull-replication-content{
      display: none;
    }
  }
  &.pull-replication{
    .push-replication-content{
      display: none;
    }
    .pull-replication-content{
      display: block;
    }
  }
  &.new-state{
    .form-actions .btn.delete{
      display: none;
    }
  }
}