.app-container{
  .state{
    display: none;
  }
  &.new-state .state.new-state{
    display: block;
  }
  &.edit-state .state.edit-state{
    display: block;
  }
  &.list-state .state.list-state{
    display: block;
  }
}

table.table.vertical-middle tbody tr td{
  vertical-align: middle;
}
table tbody td.table-cell-actions{
  text-align: right;
  .btn{
    margin-left: 6px;
    vertical-align: middle;
  }
  form{
    display: inline-block;
    margin: 0;
  }
}

table .btn.show-more:only-child,table .btn.show-less:only-child{
  display: block;
}

.model-edit-view.handle-file-attachments{
  .file-attachment-handler-overlay{
    display: none;
  }
  &.drag-over{
    position: relative;
    .file-attachment-handler-overlay{
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
    h2{
      margin-top: 40px;
      text-align: center;
      color: white;
      opacity: 1;
    }
  }
}

form.form-horizontal .controls .model-attachments-view{
  margin-top: 6px;
}